<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <!--Grid system-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <!--Fonts-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!--CSS for this site-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!--Brand link-->
            <a href=@Url.Action("Index", "Home") class="navbar-brand" aria-hidden="true"><span class="fas fa-flask"></span> Examiner</a>
            <!--Menu toggle button-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="far fa-caret-square-down"></span>
            </button>
            <!--Menu-->
            <div class="collapse navbar-collapse navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_AppMenu")
                }
                @Html.Partial("_Login")
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="container-fluid">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer>
        <hr>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>